.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Start content from the top */
  align-items: center;
  min-height: 100vh;
  /* Use min-height to ensure the container takes up at least the viewport height */

  /* Add some padding to the top to create space for the navbar */
  /* padding-top: 50px; */
  /* Adjust the value as needed based on your navbar's height */
}

/* Style for the navbar */
.Header {
  /* Add your styles for the navbar here */
  height: 50px;
  /* Set the desired height for your navbar */
}
